/* display standards */
body {
	font-size: 12px;
	font-family: verdana,arial,helvetica;
}

table, td, th {
	border-collapse: collapse;
	border: 1px solid #cccccc;
}

th {
	font-weight: bold;
	background: #efefef;
	color: #000000;
	text-align: center;
}

td {
	text-align: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

td.fig {
	text-align: center;
}
td.date {
	text-align: left;
	padding-left: 1em;
}

table dl {
	margin: 0;
}

table dl a, table td a {
	color: #000000;
	font-weight: bold;
}

/* page layout */
table {
	width: 95%;
}

#footer {
	font-size: x-small;
	color: #cccccc;
	text-align: center;
	text-decoration: none;
	border-top: 1px solid #cccccc;
	margin: 1em 60px 0 60px;
	clear: both;
}
#footer a {
	text-decoration: underline;
	color: inherit;
}

.nowrap, ul.post_def li {
	white-space: nowrap;
}

/* -- listview */
ul.post_def {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.post_def li.nh {
	padding-left: 2em;
}

/* -- threadview */
table.threads td.subj, table.threads th.subj {
	width: 50%;
}

/* -- messages */
ol.messages {
	list-style: none;
	padding-left: 0;
	width: 95%;
}
li.message {
	border-collapse: collapse;
	border: 1px solid #cccccc;
	min-width: 580px;
}
li.message dl {
	border-bottom: 1px dashed #cccccc;
}

div.header {
	float: left;
	width: 100%;
}

div.header dl {
	background-color: #efefef;
}
div.header dt {
	font-weight: bold;
	color: #000000;
	width: 13%;
	float: left;
	margin-left: 0.5em;
}
div.header dd {
	width: 87%;
}
div.path {
	margin-bottom: 1em;
	font-weight: bold;
}
div.path a {
	color: #000000;
	font-weight: bold;
}
div.body pre {
	width: 88%;
}
div.attachment {
	margin-top: 1.5em;
	margin-left: 4em;
}
div.attachment ol {
	border-top: 1px dashed #cccccc;
	border-left: 1px dashed #cccccc;
	list-style-type: upper-roman;	/* I II III IV V... */
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
span.level1 {
	color: #0000c0;
}
span.level2 {
	color: #8016ed;
}
span.level3 {
	color: #c000a0;
}
span.level4 {
	color: #ed6216;
}
span.level5 {
	color: #edc216;
}
span.level6 {
	color: #e2e9ba;
}

/* extras for other standards */
div.rss {
	margin-top: 0.75em;
}
div.rss a.rss {
	color: #ff6600;
}
a.rss {
	text-decoration: none;
	font-size: smaller;
	white-space: nowrap;
}
cite.rss {
	background-color: #ff6600;
	color: #ffffff;
	padding-left: 2px;
	padding-right: 1px;
	font-style: normal;
}

@media print,aural,braille {
	#footer {
		display: none;
	}
}
@media print {
	.rss {
		display: none;
	}
}